@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fff3e4;
  --bg-secondary: #eed6c4;
  --text-primary: #483434;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
